<!DOCTYPE html>
<html>
  <head>
    <title>Blog Posts</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags 'application' %>
  </head>

  <body class="mb-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <a class="navbar-brand" href="<%= root_path %>">Blog Posts</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Home', root_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Posts', posts_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'New Post', new_post_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
            <div class="user-details">
              <span class="nav-link bg-light">Logged in as <strong><%= current_user.email %></strong></span>
            </div>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container mt-3">
      <% if notice %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div
      <% end %>
      
      <% if alert %>
        <div class="alert alert-danger alert" role="alert">
          <%= alert %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
